// topics
// by Daniel Rodríguez
// MIT Licensed

doctype 5
html
  head
    title topics
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/highlight.css')
    link(href='http://fonts.googleapis.com/css?family=Quando', rel='stylesheet', type='text/css')
    script
      if (!window.console) {
        alert('Because you deserve a better browser:')
        window.location = 'http://whichbrowserforme.org/'
      }
    script(data-main="js/main", src="/js/lib/highlight.pack.js")
    script
      hljs.initHighlightingOnLoad()
  body
    #box.public
      #fulltopic
        #header
          .title
            .back(onclick="javascript:window.location='/#'+window.location.pathname.slice(1)") &lt;
            a(href="/") topics
          .user
            a(href="/") @#{ user.screen_name }
        .topicname
          h2= topic.name
        #notes
          - each note in notes
            .note
              .text!= note.parsed.replace('<img', '<img onclick="window.open(this.src)"')
        ul.buttom
          li Share it on:
          li
            a(href="#", onclick="var url=window.location;window.open('https://twitter.com/intent/tweet?original_referer='+encodeURIComponent(url)+'&text='+encodeURIComponent('" + topic.name + "')+'&url='+encodeURIComponent(url),\'sharer\',\'toolbar=0,status=0,resizable=1,width=626,height=436\')") Twitter
          li
            a(href="#", onclick="var url=window.location;window.open('https://www.facebook.com/sharer/sharer.php?s=100&p[url]='+encodeURIComponent(url)+'&p[title]=' + encodeURIComponent('"+ topic.name +"') + '&p[summary]=', 'sharer', 'toolbar=0,status=0,resizable=1,width=626,height=436')") Facebook
    #by
      | by 
      a(href="http://sadasant.com/", target="_blank", rel="nofollow") Daniel Rodríguez

  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26305634-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
